{% extends "base.html" %}
{% block content %}
<div id="page-wrapper">
<html>
  <head>
    <title>Login page</title>
  </head>
  <body>
    <div class="login">
    <h1 class="login-heading">
      <strong>Welcome.</strong> Please login.</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" class="input-txt"  \value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" class="input-txt"  value="{{
          request.form.password }}">
        <input class="btn btn-info" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
</div>
{% endblock %}